<head>

</head>
<body style="background-color: black; color: white">

    @{
        ViewBag.Title = "Inteligentne Oswietlenie";
    }
    <h2>@ViewBag.Title.</h2>


    @*<input id="turnOn"type="button" class="btn btn-success" value="Zapal swiatlo" onclick="turnOnOff()">*@

    <div>
        <h3>Kuchnia</h3>
        <input id="buttonKitchen" type="button" class="btn btn-success" value="Ladowanie...">

    </div>

    <div>
        <h3>Łazienka</h3>
        <input id="buttonBathroom" type="button" class="btn btn-success" value="Ladowanie...">
    </div>

    <div>
        <h3>Salon</h3>
        <input id="buttonLivingRoom" type="button" class="btn btn-success" value="Ladowanie...">
    </div>

    <div>
        <h3>Sypialnia</h3>
        <input id="buttonBedroom" type="button" class="btn btn-success" value="Ladowanie...">
    </div>

    <div>
        <h3>Poddasze</h3>
        <input id="buttonAttic" type="button" class="btn btn-success" value="Ladowanie...">
    </div>

</body>


@section scripts
{
    <script type="text/javascript">
        
        function turnOn(index) {
            $.ajax({
                url: "/Light/LightON?index=" + index,
                success: function (data) {

                }
            });
        }

        function turnOff(index) {
            $.ajax({
                url: "/Light/LightOff?index=" + index,
                success: function (data) {

                }
            });
        }

        function buttonClick(nameButton, index) {
            $(nameButton).click(function () {
                if ($(nameButton).val() == "Zgas swiatlo") {
                    $.connection.communication.server.sendCurrent(index, 0);
                } else {
                    $.connection.communication.server.sendCurrent(index, 1);
                }
            });
        }

        var buttonName = ["#buttonKitchen", "#buttonBathroom", "#buttonLivingRoom", "#buttonBedroom", "#buttonAttic"];
        $.connection.hub.start().then(function() {
            console.log("connected");
        });

        buttonClick(buttonName[0], 0);
        buttonClick(buttonName[1], 1);
        buttonClick(buttonName[2], 2);
        buttonClick(buttonName[3], 3);
        buttonClick(buttonName[4], 4);


        $.connection.communication.client.showCurrent = function (msg) {
            
            for (i = 0; i < msg.length; i++) {
                if (msg[i] == 1) {
                    $(buttonName[i]).css('background-color', 'red');
                    $(buttonName[i]).val("Zgas swiatlo");
                    turnOn(i);
                } else {
                    $(buttonName[i]).css('background-color', 'green');
                    $(buttonName[i]).val("Zapal swiatlo");
                    turnOff(i);
                }
            }

        }

    </script>
}
